.gx-chat-user-item.active{
    background-color: #e6faff !important;
}
span.icons-controle>span:hover{
    color: #038fde;
}
span.MutedMic>span{
    color: lightcoral;
}
span.ActiveMic>span{
    color: lightgreen;
}
.privateSection > :first-child{
    bottom: 22% !important;
}
.privatechat {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recievedMsg{
    font-weight: 500;
}