.gx-module-content-scroll{
    height: 100% !important;
}
.gx-module-content-scroll div:first-child{
    overflow-x: hidden !important;
}
.gx-module-side-scroll div:first-child{
    overflow-x: hidden !important;
}
.gx-module-list-info.gx-contact-list-info{
    max-width: 100% !important;
}
.play>span :hover{
    color: lightgreen;
}
.preview .ant-modal-header{
    text-align: center;
}
.preview .ant-modal-body{
    display: flex;
    justify-content: center;
}
